# API conectada ao PostgreSQL no Aiven
DATABASE_URL=postgres://avnadmin:AVNS_DMtzWqaFxBfylCiZ7EC@new-gustavodelonghi-5564.i.aivencloud.com:27533/tlc_daniel?sslmode=require
PORT=3000
FRONTEND_URL=http://localhost:5173
CORS_ORIGIN=*
